    body {
    	font-family: verdana, tahoma, sans;
    	font-size: small;
    	background-color: rgb(102,102,102);
    	margin: 0px;
    }
	h3 {
		font-family: trebuchet ms, verdana, sans serif;
		font-size: large;
		font-weight: bold;
		margin-top: 25px;
		margin-bottom: 0px;
	}
	h4 {
		font-size: 0.9em;
		font-style: italic;
	}
	p {
    	margin: 10px 15px;
	}
	a {
		text-decoration: none;
	}    
	#container {
		position: absolute;
		top: 0px;
    	left: 50%;
		width: 650px;
    	margin-left: -325px;
    	background-color: rgb(248,248,248);
    	border: solid black 2px;
    }
    #pageHeader {
    	height: 120px;
    	background-color: rgb(223,238,202);
    	border-bottom: solid black 1px;
    }
	#logo {
		background: url('../images/iron_small.jpg') left no-repeat;
		width: 120px;
		height: 120px;
		position: absolute;
		top: 0px;
		left: 0px;
		border-right: solid black 1px; 
		border-bottom: solid black 1px; 
	}
	#logo span {
    	display: none;
    }
	#header {
    	position: relative;
    	top: 0px;
    	left: 120px;
    	width: 530px;
    	height: 120px;
    }
    #banner {
    	background: url('../images/artisanlogomedium.gif') left no-repeat; 
    	width: 280px;
    	height: 80px;
		position: absolute;
		top: 10px;
		left: 135px;
    }
    #banner span {
    	display: none;
    }
	#content {
    	padding-left: 20px;
    	padding-right: 20px;
    	padding-bottom: 20px;
    }
    .em {
    	font-style: italic;
    }
	.client {
		padding: 5px;
		margin: 10px;
    	background-color: #efefef;
    	border: solid 1px #cfcfcf;
    }
	.client h3 {
		margin-left: 5px;
		margin-top: 5px;
	}
	.client h4 {
		margin-left: 15px;
		margin-bottom: 0px;
		margin-top: 10px;
	}
	.client img {
		float: right;
		margin-left: 5px;
		margin-bottom: 5px;
		height: 45px;
	}
	.client img#fedex {
		float: right;
		height: 55px;
	}
	.client img#pnc {
		float: right;
		height: 30px;
	}
	.client img#aeo, img#cigna {
		float: right;
		height: 75px;
	}
	.client p.project-top {
		margin-top: 3px;
	}
	.consultant {
		font-weight: bold;
	}
	.indent {
		margin: 10px 40px 20px 40px; 
	}
	.bio-pic {
		border: 1px solid black;
		margin: 15px 20px 5px 15px;
		width: 200px;
	}
