/* BEGIN do we still need this? */
.jumbotron {
    background-color: inherit;
    padding-top: 0px;
    vertical-align: middle;
}

.jumbotron .container {
    /*background-color: #cdcdcd;*/
}

.jumbotron h2 {
    /*float:right;*/
    /*margin-top: 145px;*/
    /*margin-right: 20px;*/
}

/* Simple but not working on Safari */
/*.vertical-align {*/
/*display: flex;*/
/*align-items: center;*/
/*}*/

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;     /* Align the flex-items vertically */
    justify-content: center; /* Optional, to align inner flex-items
                              /*horizontally within the column  *!*/
}
/* END do we still need this? */

